@import "../../styles/variables/colors";

.question {
  width: 100%;
  background-color: $block-color;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 8px $main-shadow-color;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  &--light {
    width: 320px;
  }
}

.question-body {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $main-border-color;

  &--light {
    padding-top: 10px;
  }

  &__last-update {
    color: $gray-font-color;
    font-size: 12px;
  }
}

.additional-table {
  position: sticky;
  top: 0;
  min-width: 320px;
  width: 320px;
  margin-left: 10px;
}
