<form [formGroup]="loginPopUpForm" class="login-form pop-up">
  <div class="pop-up__close" (click)="closePopUp()"></div>
  <div class="login-form__container pop-up__container">
    <div class="login-form__header pop-up__header">Login</div>
    <div *ngIf="payload?.message" class="login-form__message pop-up__message">{{payload.message}}</div>

    <div class="login-form__section pop-up__section">
      <label class="login-form__login-label pop-up__section-label" for="login">Username</label>
      <input formControlName="login" id="login" class="login-form__login pop-up__section-field" autocomplete="on" type="text">
    </div>
    <div class="login-form__section pop-up__section">
      <label class="login-form__password-label pop-up__section-label" for="password">Password</label>
      <input formControlName="password" id="password" class="login-form__password pop-up__section-field" autocomplete="on" type="password">
      <div (click)="showRegistrationPopUp()" class="pop-up__link">Not registered? <span>Create an account</span></div>
    </div>
    <div class="login-form__section pop-up__section">
      <button type="button" (click)="login()" class="login-form__btn pop-up__btn">Login</button>
    </div>
  </div>
</form>
