@import 'libs/reset.scss';
@import 'shared/pop-up.scss';
@import 'shared/question';

.container {
  min-height: calc(100vh - 80px);
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  &--horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

