$main-color: #EDEFF0;
$main-contrast-color: #205296;
$answered-question-color: #5fba7d;
$block-color: #FFFFFF;
$btn-color: $main-contrast-color;
$tag-hover-color: $main-contrast-color;
$main-border-color: #eff0f1;
$main-shadow-color: rgba(0, 0 , 0, 0.2);
$code-block-background-color: #eff0f1;
$close-btn-color: #adadad;
$input-background-color: #f4f7f9;

$gray-font-color: #b4b4b4;
$white-font-color: #FFFFFF;
$blue-font-color: #07C;

